#questForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }

#question {
    font-family: Raleway;
    color: black;
}
#selections {
    
    width: fixed;
    height: auto;
    border: none;
    padding-bottom: 10%;

}
.options{
    font-size: large;
    width: auto;
    height: auto;
    background-color: DodgerBlue;
}