    body {
        font: 15px Arial, sans-serif;
        padding: 0;
        margin: 0;
        background: green;
        display: flex;
        flex-direction: column;
        height: -webkit-fill-available;
    }

    
    /* Global */    
    ul {
        margin:0;
        padding: 0;
    }

    ::-webkit-scrollbar {
        width: 12px;
    }
     
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }
     
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }

    td {
        padding: 5px;
    }

    th {
        padding: 5px;
    }



    /* Header */

    
    header {
        background: black;
        color:white;
        height: 80px;
        border-bottom: green 1.5px solid;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    header a {
        color:white;
        text-transform: uppercase;
        font-size:16px;
    }


    header li {
        float: left;
        display: inline;
        padding: 0 20px 0 20px;
    }

    header #branding {
        float: left;
        font-size: 24px;
    }


    header nav{
        float: right;
        margin-top: 10px;
    }   









    .main-page {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: -webkit-fill-available;
        align-items: center;
        background: url('../images/court.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .banners {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center; 
    }

    .main-page__information {
        width:-webkit-fill-available;
        margin:20px;
    }

    .page-title {
        font-size:46px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .page-title__container {
        width: 100%;
        height: 50px;
        color: green;
        display: flex;
        align-items: center;
    }

    .information-container {
        margin-top:20px;
        border-radius: 10px;
        padding:20px;
        background-color: lightgray;
        max-height: 350px;
        color:black;
        overflow-y: auto;
    }

    .information-container h1 {
        margin: 0;
    }


